name: CLA Check

on:
  pull_request:
    types: [opened, edited, reopened, synchronize]

run: |
    BODY=${{ toJSON(github.event.pull_request.body) }}
    echo "$BODY" | jq -r . | grep -q '\[x\] I have read and agree to the Contributor License Agreement (CLA)' || {
      echo "Pull request rejected! The contributor has not read the Contribution Licensing Agreement (CLA) and has not selected the CLA checkbox to agree to the Contribution Licensing Agreement."
      exit 1
    }